.home {
  display: block;
  text-align: center;
  padding: 2.5em 0;
}

.home img {
  border-radius: 7.5em;
  height: 15em;
}

.home .home_links {
  font-size: 1.2em;
  margin: 1.2em auto;
  text-align: center;
}

.home .home_links .home_link {
  border-radius: 100%;
  display: inline-block;
  height: 2em;
  line-height: 2.2em;
  margin: 0 0.25em;
  text-align: center;
  transition: 0.2s;
  width: 2em;
}

.home .home_links .home_link:hover {
    box-shadow: 0 0 1px 7px rgba(79, 129, 189, 0.15)
}
