.home-page {
  display: block;
  text-align: center;
  padding: 4em 0;
  position: relative;
}

.home-page img {
  border-radius: 7.5em;
  height: 15em;
}

.home-page .home-page-links {
  font-size: 1.2em;
  text-align: center;
}

.home-page .home-page-links a {
  border-radius: 100%;
  display: inline-block;
  height: 2em;
  line-height: 2.2em;
  margin: 0 0.25em;
  text-align: center;
  transition: 0.2s;
  width: 2em;
}

.home-page .home-page-links a:hover {
    box-shadow: 0 0 1px 7px rgba(79, 129, 189, 0.15)
}
