@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");

@font-face {
  font-family: Sophonetica;
  src: url(../fonts/Sophonetica.ttf);
}

@font-face {
  font-family: "Simoncini Garamond";
  src: url(../fonts/SimonciniGaramond.ttf);
}

html {
  font-family: "Computer Modern Serif", serif;
}

body {
  margin: 0px;
}

/* ----------------------------- NAVIGATION BAR ----------------------------- */

navbar:before, navbar:after {
    content: "";
    display: table;
}

navbar:after {
    clear: both;
}

navbar ul {
  background-color: #f3f3f3;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

navbar li {
  float: left;
}

navbar li:last-child {
  border-right: none;
}

navbar li a {
  color: #666;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

navbar li a:hover:not(.active) {
  background-color: #ddd;
}

navbar .active {
  color: white;
  background-color: #4CAF50;
}

navbar dropdown {
	position: relative;
	display: inline-block;
  /* float: right; */
}

navbar dropdown button {
  -webkit-appearance: none;
  position: relative;
	background-color: #4CAF50;
	color: white;
	padding: 1.125em 0.9em;
	border: none;
	cursor: pointer;
}

navbar dropdown content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

navbar dropdown content a {
	color: black;
	padding: 0.75em;
	text-decoration: none;
	display: block;
}

navbar dropdown content a:hover {
	background-color: #f1f1f1
}

navbar dropdown:hover content {
	display: block;
}

navbar dropdown:hover button {
	background-color: #3e8e41;
}

navbar dropdown img {
  width: 30px;
  height: 20px;
}

.wrap {
}

@media only screen and (max-width: 720px) {
    .wrap {
        width: 0;
        display: none;
    }
}

/* ---------------------------------- MAIN ---------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

pre {
	border: solid 1px #a0a0a04d;
}

main {
  /* height: 1500px;
  margin-top: 30px;
  padding: 20px; */
}

a {
  color: #1561ad;
}

a:hover {
  color: #1eaedb;
}

main code {
  font-family: "Julia-Mono Regular", monospace;
  font-size: 85%;
}

/* ---------------------------------- HOME ---------------------------------- */

home {
  display: block;
  text-align: center;
  padding: 1em 0;
}

home img {
  border-radius: 7.5em;
  height: 15em;
}

/* -------------------------------- SECTION --------------------------------- */

section {
  /* border: solid 1px #a0a0a04d; */
  display: block;
  margin: 0em 0em;
  padding: 0em 2em 1em;
  position: relative;
}

section > header {
  border-bottom: solid 1px #a0a0a04d;
  margin: 0 0 1.5em -2em;
  padding: 0 0 4em 2em;
  position: relative;
  width: calc(103.9%);
}

section > header > h2, h3 {
  float: left;
}

/* section > header > h3.numbered:before {
  counter-increment: css-counter2 1;
  content: counter(css-counter2) ". ";
} */

section > header > img {
  margin: -0.5em 0 0 0;
  padding: 0.5em;
  float: right;
  text-align: right;
  /* border-left: solid 1px #a0a0a04d; */
  height: 3.5em;
}

section > figure {
  margin: 2em 0;
}

section > figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section > figure figcaption {
  caption-side: bottom;
}

section > table {
  margin-bottom: 1em;
}

section > table td.left {
  width: 5em;
  padding-right: 1em;
  vertical-align: top;
  text-align: right;
}

section ol,
section ul {
  margin-top: 0.5em;
}

/* ---------------------------- CURRICULUM VITAE ---------------------------- */

section.cv {
  padding: 1em 2em;
}

section.cv ol,
section.cv ul {
  margin-top: 0.5em;
  margin-left: -1em;
}

section.cv > table td {
  padding-bottom: 0.25em;
}

section.cv > table td.left {
  width: 6em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
}

/* --------------------------------- CANIPA --------------------------------- */

div.canipa {
  display: inline;
  font-family: Sophonetica, serif;
}

/* ------------------------------ MATHEMATICS ------------------------------- */

/*
div.environment {
  counter-increment: css-counter 1;
  border: solid 1px #a0a0a04d;
  display: block;
  margin: 1em 0;
  padding: 1em;
}

div.environment ol,
div.environment ul {
  margin: 0.2em 0;
}

div.environment.corollary:before {
  content: "Corollary " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.definition:before {
  content: "Definition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.lemma:before {
  content: "Lemma " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proposition:before {
  content: "Proposition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.theorem:before {
  content: "Theorem " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proof {
  border: none;
  counter-increment: none;
}

div.environment.proof:before {
  content: "Proof:";
  font-style: italic;
}

div.environment.proof:after {
  float: right;
  content: "◼";
} */
