@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");

@font-face {
  font-family: Sophonetica;
  src: url(../fonts/Sophonetica.ttf);
}

@font-face {
  font-family: "Simoncini Garamond";
  src: url(../fonts/SimonciniGaramond.ttf);
}

html {
  font-family: "Computer Modern Serif", serif;
}

body {
  margin: 0px;
}

/* ----------------------------- NAVIGATION BAR ----------------------------- */

navbar ul {
  background-color: #f3f3f3;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

navbar li {
  float: left;
}

navbar li:last-child {
  border-right: none;
}

navbar li a {
  color: #666;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

navbar li a:hover:not(.active) {
  background-color: #ddd;
}

navbar .active {
  color: white;
  background-color: #04AA6D;
}

navbar img {
  height: 18px;
}

navbar .flag {
  float: right;
  text-align: right;
  height: 21px;
}

/* --------------------------------- HEADER --------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

pre {
	border: solid 1px #a0a0a04d;
}

header {
  display: block;
  padding: 1.5em 0em 2em;
  margin: 0 0 1.5em 0;
}

header div.homepage {
  float: left;
  text-align: left;
  width: 10%;
}

header h1 {
  float: left;
  margin-top: -0.25em;
  text-align: center;
  width: 80%;
}

header div.language {
  margin-top: 0.5em;
  float: right;
  text-align: right;
  width: 10%;
}

header div.language img {
  height: 18px;
}

/* ---------------------------------- MAIN ---------------------------------- */

main {
  height: 1500px;
  margin-top: 30px;
  padding: 20px;
}

main a {
  color: #1561ad;
}

main a:hover {
  color: #1eaedb;
}

main code {
  font-family: "Julia-Mono Regular", monospace;
  font-size: 85%;
}

/* -------------------------------- CONTACTS -------------------------------- */

div.contacts {
  display: block;
  margin: 2em 0em;
  padding: 1em;
}

div.contacts img {
  border-radius: 6.5em;
  float: left;
  height: 13em;
  margin: 1em 2em 0em 1em;
}

/* -------------------------------- SECTION --------------------------------- */

section {
  /* border: solid 1px #a0a0a04d; */
  display: block;
  margin: 0em 0em;
  padding: 0em 2em 1em;
  position: relative;
}

section > header {
  border-bottom: solid 1px #a0a0a04d;
  margin: 0 0 1.5em -2em;
  padding: 0 0 4em 2em;
  position: relative;
  width: calc(103.9%);
}

section > header > h2, h3 {
  float: left;
}

/* section > header > h3.numbered:before {
  counter-increment: css-counter2 1;
  content: counter(css-counter2) ". ";
} */

section > header > img {
  margin: -0.5em 0 0 0;
  padding: 0.5em;
  float: right;
  text-align: right;
  /* border-left: solid 1px #a0a0a04d; */
  height: 3.5em;
}

section > figure {
  margin: 2em 0;
}

section > figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section > figure figcaption {
  caption-side: bottom;
}

section > table {
  margin-bottom: 1em;
}

section > table td.left {
  width: 5em;
  padding-right: 1em;
  vertical-align: top;
  text-align: right;
}

section ol,
section ul {
  margin-top: 0.5em;
}

/* ---------------------------- CURRICULUM VITAE ---------------------------- */

section.cv {
  padding: 1em 2em;
}

section.cv ol,
section.cv ul {
  margin-top: 0.5em;
  margin-left: -1em;
}

section.cv > table td {
  padding-bottom: 0.25em;
}

section.cv > table td.left {
  width: 6em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
}

/* --------------------------------- CANIPA --------------------------------- */

div.canipa {
  display: inline;
  font-family: Sophonetica, serif;
}

/* ------------------------------ MATHEMATICS ------------------------------- */

/*
div.environment {
  counter-increment: css-counter 1;
  border: solid 1px #a0a0a04d;
  display: block;
  margin: 1em 0;
  padding: 1em;
}

div.environment ol,
div.environment ul {
  margin: 0.2em 0;
}

div.environment.corollary:before {
  content: "Corollary " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.definition:before {
  content: "Definition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.lemma:before {
  content: "Lemma " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proposition:before {
  content: "Proposition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.theorem:before {
  content: "Theorem " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proof {
  border: none;
  counter-increment: none;
}

div.environment.proof:before {
  content: "Proof:";
  font-style: italic;
}

div.environment.proof:after {
  float: right;
  content: "◼";
} */
