@import "https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css";
@import "nav.css";
@import "home.css";

@font-face {
  font-family: Sophonetica;
  src: url(../fonts/Sophonetica.ttf);
}

@font-face {
  font-family: "Simoncini Garamond";
  src: url(../fonts/SimonciniGaramond.ttf);
}

html {
  font-family: "Computer Modern Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Simoncini Garamond", serif; */
}

pre {
	border: solid 1px #a0a0a04d;
}

a {
  color: #1561ad;
  text-decoration: none;
}

a:hover {
  color: #1eaedb;
}

/* ---------------------------------- MAIN ---------------------------------- */

main code {
  font-family: "Julia-Mono Regular", monospace;
  font-size: 85%;
}

/* -------------------------------- SECTION --------------------------------- */

section {
  /* border: solid 1px #a0a0a04d; */
  display: block;
  margin: 0em 0em;
  padding: 0em 2em 1em;
  position: relative;
}

section > header {
  border-bottom: solid 1px #a0a0a04d;
  margin: 0 0 1.5em -2em;
  padding: 0 0 4em 2em;
  position: relative;
  width: calc(103.9%);
}

section > header > h2, h3 {
  float: left;
}

/* section > header > h3.numbered:before {
  counter-increment: css-counter2 1;
  content: counter(css-counter2) ". ";
} */

section > header > img {
  margin: -0.5em 0 0 0;
  padding: 0.5em;
  float: right;
  text-align: right;
  /* border-left: solid 1px #a0a0a04d; */
  height: 3.5em;
}

section > figure {
  margin: 2em 0;
}

section > figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section > figure figcaption {
  caption-side: bottom;
}

section > table {
  margin-bottom: 1em;
}

section > table td.left {
  padding-right: 1em;
  vertical-align: top;
  text-align: right;
}

section ol,
section ul {
  margin-top: 0.5em;
}

/* ---------------------------- CURRICULUM VITAE ---------------------------- */

section.cv {
  padding: 1em 2em;
}

section.cv ol,
section.cv ul {
  margin-top: 0.5em;
  margin-left: -1em;
}

section.cv > table td {
  padding-bottom: 0.25em;
}

section.cv > table td.left {
  width: 6em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
}

/* --------------------------------- CANIPA --------------------------------- */

div.canipa {
  display: inline;
  font-family: Sophonetica, serif;
}

/* ------------------------------ MATHEMATICS ------------------------------- */

/*
div.environment {
  counter-increment: css-counter 1;
  border: solid 1px #a0a0a04d;
  display: block;
  margin: 1em 0;
  padding: 1em;
}

div.environment ol,
div.environment ul {
  margin: 0.2em 0;
}

div.environment.corollary:before {
  content: "Corollary " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.definition:before {
  content: "Definition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.lemma:before {
  content: "Lemma " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proposition:before {
  content: "Proposition " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.theorem:before {
  content: "Theorem " counter(css-counter2) "." counter(css-counter) ": ";
  font-weight: bold;
}

div.environment.proof {
  border: none;
  counter-increment: none;
}

div.environment.proof:before {
  content: "Proof:";
  font-style: italic;
}

div.environment.proof:after {
  float: right;
  content: "◼";
} */
